<div class="row banner">
    <div class="col-md-12">
        <h1>SimpleDreams</h1>
        <h2>Simple rules to win life game.</h2>
        <div class="scroll">
             <a href="#about"><%= fa_icon "angle-double-down" %></a>
        </div>
        
    </div>
</div>

<div class="row about" id="about">
    <div class="col-md-5">
        <%= image_tag("me1.jpg", :alt => "me") %>
    </div>
    <div class="col-md-7">
        <h2>Hello World!</h2>
        <h4>I'm Simon. I created this blog to improve my life and achived all my goals from <%= link_to "BucketList", about_path %>.</h4>
    </div>
</div>

<div class="row recent">
    <h2>Recent blog posts</h1>
    <% @posts.each do |post| %>
    	<div class="col-md-4">
    		<div class="post_index">
    			<%= link_to (image_tag post.image.url(:medium)), post %>
    			<h2><%= link_to post.title, post %>
    		</div>
    	</div>
    <% end %>
</div>