<div class="row message">
  <h2>Contact</h2>
  <div class="col-sm-6 col-sm-offset-3 send">
    <h3>Send message to me</h3>

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
     <div class="form-group">
      <%= f.input :name, :required => true, placeholder: "Your name", class:"form-control", label: false %>
     </div>
     <div class="form-group">
      <%= f.input :email, :required => true, placeholder: "Your email", class:"form-control", label: false %>
     </div>
     <div class="form-group">
      <%= f.input :message, :as => :text, :required => true, class:"form-control", placeholder: "Your message", label: false %>
     </div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
