<div class="row post">
	<div class="col-md-8 col-sm-8 post_content">
		<h1><%= @post.title %></h1>

		<p class="info">
			<span class="date">
				<%= fa_icon "calendar" %> <%= @post.created_at.strftime("%d.%m.%Y") %>
			</span>
			<span class="comment_info">
				<%= fa_icon "comments-o" %> <%= @post.comments.count %>
			</span>
			<% if user_signed_in? %>
			| <%= link_to 'Edit', edit_post_path(@post) %> |
			  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
		  <% end %>
		</p>

		<hr>

		<%= image_tag @post.image.url(:medium), align:"left" %>

		<p class="body"><%= @post.body %></p>

		<div class="comments">
			<hr>
			<%= render @post.comments %>

			<h3>Add comment:</h3>
			<%= render "comments/form" %>

			<%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light" %>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 post_sidebar">
		<h2>Other posts</h2>

		<div class="first_random">
			<% if @random_post %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>

		<div class="second_random">
			<% if @random_post2 %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>

		<div class="third_random">
			<% if @random_post3 %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>
	</div>


</div>
