<div class="row post_content">
	<div class="col-md-8">
		<h1><%= @post.title %></h1>

		<p class="date">
			<%= fa_icon "calendar" %> <%= @post.created_at.strftime("%d.%m.%Y") %>
			<h4>Amount od comments: <%= @post.comments.count %></h2>
			<% if user_signed_in? %>
			| <%= link_to 'Edit', edit_post_path(@post) %> |
			  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
		  <% end %>

		  
		</p>

		<%= image_tag @post.image.url(:medium) %>
		
		
		<p class="body"><%= @post.body %></p>

		<div id="comments">
			<hr>
			<%= render @post.comments %>

			<h3>Add comment:</h3>
			<%= render "comments/form" %>
		</div>
	</div>

	<div class="col-md-4">
		<h3>Other posts</h3>
		
		<div class="first_random">
			<% if @random_post %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>

		<div class="second_random">
			<% if @random_post2 %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>

		<div class="third_random">
			<% if @random_post3 %>
				<%= link_to @random_post.title, post_path(@random_post) %>
			<% end %>
		</div>
	</div>
  

</div>
